@use "../base/variables" as *;
@use "../base/fonts";

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;

  header {
    display: flex;
    background-color: #f0e5d9;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 1020px;

    .players {
      font-size: 30px;
      background-color: #fff;
      gap: 40px;
      padding: 8px 16px;
      display: flex;
      border-radius: 10px;
      font-family: $font-theme-food;
      font-weight: 700;

      .orange {
        color: #ea6900;
        gap: 4px;
      }
      .blue {
        color: #097fc5;
        gap: 4px;
      }
      img {
        height: 25px;
      }
    }

    .current-player {
      display: flex;
      align-items: center;
      gap: 18px;

      span {
        font-family: $font-food;
        font-size: 32px;
        color: #a45212;
      }

      img {
        height: 32px;
        background-color: #097fc5;
        padding: 4px 8px;
        border-radius: 8px;
      }
    }
  }

  .field {
    display: flex;
    gap: 16px;

    .card {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 122px;
      height: 122px;
    }
    .front {
      background-color: #f4ece4;
      img {
        position: absolute;
        background-color: #f4ece4;
      }
    }
    .back {
      background-color: #f3832d;
    }
  }
}

.exit {
  position: relative;
  cursor: pointer;

  .hover {
    position: absolute;
    top: -1px;
    left: -1px;
  }

  .hidden {
    opacity: 0;
  }

  &:hover .hidden {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 456px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;

  .no_button {
    position: relative;
    cursor: pointer;

    .hover {
      position: absolute;
      top: 1.5px;
      left: 1px;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  span {
    color: #a45212;
    font-size: 28px;
    font-family: $font-food;
  }

  .buttons {
    display: flex;
    gap: 24px;
  }
}
