@use "../base/variables" as *;

@keyframes slideInFromBottom {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#result {
  background-color: var(--result-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: none;

  &.is-active {
    animation: slideInFromBottom 0.5s cubic-bezier(0.2, 0, 0, 1) forwards;
  }

  .result__confetti {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 1223px;
    height: auto;
    pointer-events: none;
    display: none;

    &.is-visible {
      display: block;
    }
  }

  .result__body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }

  .result__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .result__subtitle {
    font-family: var(--result-subtitle-font);
    font-size: var(--result-subtitle-size);
    color: var(--result-subtitle-color);
    font-weight: var(--result-subtitle-weight);
    margin: 0;
  }

  .result__title {
    font-family: var(--result-title-font);
    font-size: var(--result-title-size);
    font-weight: 700;
    margin: 0;
    line-height: 1;
    padding-bottom: 16px;

    &--blue {
      color: var(--result-title-blue);
    }
    &--orange {
      color: var(--result-title-orange);
    }

    &--draw {
      font-family: var(--result-title-draw-font);
      color: var(--result-title-draw-color);
      font-size: var(--result-title-draw-size);
      text-shadow: var(--result-title-draw-shadow);
      letter-spacing: var(--result-title-draw-spacing);
    }
  }

  .result__icon {
    height: 300px;
    width: auto;
    box-shadow: var(--result-icon-shadow);
  }

  .result__btn {
    font-family: var(--result-btn-font);
    font-size: var(--result-btn-size);
    letter-spacing: var(--result-btn-font-spacing);
    font-weight: 700;
    color: var(--result-btn-fg);
    background-color: var(--result-btn-bg);
    border: var(--result-btn-border);
    border-radius: var(--result-btn-radius);
    box-shadow: var(--result-btn-shadow);
    padding: var(--result-btn-padding);
    cursor: pointer;

    &:hover {
      background-color: var(--result-btn-hover-bg);
      box-shadow: var(--result-btn-hover-shadow);
      color: var(--result-btn-hover-fg);
      border: var(--result-btn-hover-border);
    }

    &:active {
      box-shadow: none;
    }
  }
}
