@font-face {
    font-family: 'Almarai';
    src: url('/assets/fonts/Almarai/Almarai-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('/assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('/assets/fonts/Almarai/Almarai-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Almarai';
    src: url('/assets/fonts/Almarai/Almarai-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Red Rose';
    src: url('/assets/fonts/Red_Rose/RedRose-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Klee one';
    src: url('/assets/fonts/Klee_One/KleeOne-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Delius unicase';
    src: url('/assets/fonts/Delius_Unicase/DeliusUnicase-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/assets/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}