$font-display: 'Red Rose', 'Lucida Sans', Geneva, Verdana, sans-serif;
$font-body:    'Almarai', 'Lucida Sans', Geneva, Verdana, sans-serif;
$font-gaming:  'Orbitron', 'Courier New', monospace;
$font-food: 'Klee one', 'Lucida Sans', Geneva, Verdana, sans-serif;
$font-theme-food: 'Delius unicase', 'Lucida Sans', Geneva, Verdana, sans-serif;