$font-main: 'Red Rose', 'Lucida Sans', Geneva, Verdana, sans-serif;
$font-body:    'Almarai', 'Lucida Sans', Geneva, Verdana, sans-serif;

$font-gaming:  'Orbitron', 'Courier New', monospace;

$font-main-food: 'Klee one', 'Lucida Sans', Geneva, Verdana, sans-serif;
$font-second-food: 'Delius unicase', 'Lucida Sans', Geneva, Verdana, sans-serif;

$font-da-projects: 'Figtree', 'Lucida Sans', Geneva, Verdana, sans-serif;